.c-modal .modal-title {
  font-size: 60px;
}
.c-modal .modal-header {
  display: block;
  border: 0;
}
.c-modal .modal-header .modal-header-top {
  display: flex;
  align-items: center;
}
.c-modal .modal-header .modal-header-top .modal-title {
  flex: 1;
  font-family: "DFVN-DarumadropOne";
  color: var(--color-gr);
  text-transform: uppercase;
  line-height: 1;
}
.c-modal .modal-header .modal-header-top .search-box {
  position: relative;
  height: 59px;
  border-radius: 30px;
  background-color: #fbefbd;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
}
.c-modal .modal-header .modal-header-top .search-box input {
  background-color: transparent;
  flex: 1;
  border: 0;
}
.c-modal .modal-header .modal-header-top .search-box input:focus {
  outline: 0;
  box-shadow: 0;
  border: 0;
}
.c-modal .modal-header .modal-header-top .search-box input::-moz-placeholder {
  font-style: italic;
  font-size: 16px;
  color: #000;
}
.c-modal .modal-header .modal-header-top .search-box input::placeholder {
  font-style: italic;
  font-size: 16px;
  color: #000;
}
.c-modal .modal-header .modal-header-top .search-box .search-icon {
  width: 37px;
}
.c-modal .modal-content {
  padding: 0;
}
.c-modal .modal-content .btn-close {
  display: none;
}
.c-modal table {
  font-family: "Montserrat";
}
.c-modal table th {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
.c-modal table td {
  vertical-align: middle;
  border-bottom: 3px dashed #54ab47;
  font-weight: 500;
}
.c-modal table tr:last-child td {
  border-bottom: 0;
}
.c-modal table .col-index {
  display: inline-block;
  width: 62px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
.c-modal .modal-footer {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.c-modal .modal-footer .total {
  flex: 1;
  font-style: italic;
}
.c-modal .modal-footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.c-modal .modal-footer ul li a {
  color: #000;
  text-decoration: none;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
.c-modal .modal-footer ul li a.navigator img {
  height: 11px;
}
.c-modal .modal-footer ul li a.active {
  font-weight: 700;
  text-decoration: underline;
}

#top-chart-modal {
  --bs-modal-width: 900px;
}
#top-chart-modal table {
  margin-top: 24px;
}
#top-chart-modal .modal-header .modal-header-top {
  margin-bottom: 24px;
}
#top-chart-modal .modal-header .modal-header-bottom {
  display: flex;
}
#top-chart-modal .modal-header .modal-header-bottom .btn-check:checked + .btn {
  background-color: #d3fbd2;
  font-weight: 900;
}
#top-chart-modal .modal-header .modal-header-bottom .btn {
  text-transform: uppercase;
  font-family: "Montserrat";
  flex: 1;
  background-color: #f2fff1;
  color: var(--color-gr);
  border-radius: 30px;
  height: 59px;
  padding: 0;
  text-align: center;
  line-height: 59px;
  border: 0;
  font-weight: 500;
}
#top-chart-modal .modal-info-bottom {
  font-style: italic;
  color: #fff;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  max-width: 750px;
  margin: auto;
}

#schools-modal {
  --bs-modal-width: 900px;
}
#schools-modal .modal-title {
  font-size: 50px;
}
#schools-modal .text-muted {
  font-size: 14px;
  text-align: right;
}

#stations-modal {
  --bs-modal-width: 900px;
}
#stations-modal .modal-title {
  font-size: 50px;
}
#stations-modal .text-muted {
  font-size: 14px;
  text-align: right;
}

#faq-modal {
  --bs-modal-width: 900px;
}
#faq-modal .modal-title {
  font-size: 50px;
}
#faq-modal .text-muted {
  font-size: 14px;
  text-align: right;
}
#faq-modal table td {
  vertical-align: top;
}
#faq-modal .modal-body {
  max-height: 80vh;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .c-modal .modal-content {
    padding: 12px 50px;
    --bs-modal-border-radius: 30px;
  }
  .c-modal .modal-content .btn-close {
    position: absolute;
    top: 0;
    right: -60px;
    color: #fff;
    --bs-btn-close-color: #fff;
    opacity: 1;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
  }
}/*# sourceMappingURL=dialogs.css.map */