#app-bg {
  padding-top: 75px;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
  background-size: 100% auto;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: #f0fcff;
  background-image: url(/assets/images/joinhands/light-sm.png);
  display: flex;
  flex-direction: column;
}
#app-bg .cloud-left {
  position: absolute;
  z-index: 1;
  width: 100px;
  right: 0;
  top: 30%;
}
#app-bg .cloud-bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100%;
}
#app-bg .cloud-bottom2 {
  position: absolute;
  z-index: 6;
  bottom: 8%;
  left: 0;
  width: 200px;
}
#app-bg .app-bg-inner {
  position: relative;
  width: 100%;
}

#questions {
  width: 100%;
  padding: 0 12%;
  z-index: 6;
}
#questions h1 {
  text-transform: uppercase;
  font-family: "DFVN-DarumadropOne";
  font-size: 35px;
  color: var(--color-gr);
}
#questions .questions-list .question {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}
#questions .questions-list .question:last-child {
  padding: 0;
}
#questions .questions-list .text {
  flex: 1;
  border-radius: 30px;
  background-color: #f29328;
  color: #000;
  padding: 5px 12px;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}
#questions .questions-list button {
  cursor: pointer;
  border: 0;
  position: relative;
  background-color: transparent;
  transition: transform 0.3s;
}
#questions .questions-list button img {
  position: relative;
  width: 35px;
}
#questions .questions-list button:hover {
  transform: scale(1.4);
}

#bird {
  animation-duration: 2s;
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 100% auto;
  z-index: 1;
  background-image: url(/assets/images/faq/bird-sm.png);
}

.question-tooltip {
  --bs-border-radius: 30px;
  --bs-tooltip-bg: #f29328;
  --bs-tooltip-color: #000;
  --bs-tooltip-padding-x: 12px;
  --bs-tooltip-padding-y: 8px;
  font-family: Montserrat Alternates;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  #app-bg {
    background-image: url(/assets/images/joinhands/light-md.png);
  }
  #app-bg .cloud-left {
    top: 20%;
    width: 25%;
  }
  #app-bg .cloud-bottom2 {
    display: none;
  }
  #bird {
    background-image: url(/assets/images/faq/bird-md.png);
  }
  #questions {
    margin-top: 5%;
  }
  #questions h1 {
    font-size: 50px;
  }
  #questions .questions-list .question {
    position: relative;
    gap: 30px;
  }
  #questions .questions-list .text {
    min-width: 400px;
    padding: 12px 50px;
    font-size: 14px;
    flex: unset;
  }
  #questions .questions-list button img {
    width: 60px;
  }
}
@media screen and (min-width: 992px) and (orientation: portrait) {
  #questions h1 {
    font-size: 70px;
  }
  #questions {
    margin-top: 10%;
  }
  #questions .questions-list .question {
    position: relative;
  }
  #questions .questions-list .text {
    min-width: 425px;
    padding: 12px 50px;
    font-size: 16px;
  }
  #questions .questions-list button img {
    width: 70px;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  #app-bg {
    background-image: url(/assets/images/stations/light.png);
    background-position-x: left;
    background-size: 80% auto;
  }
  #app-bg .cloud-left {
    top: 12%;
    left: 0;
    width: 18%;
  }
  #app-bg .cloud-bottom {
    bottom: 0;
    right: 15%;
    width: 30%;
  }
  #app-bg .cloud-bottom2 {
    display: none;
  }
  #questions {
    position: absolute;
    bottom: 65%;
    top: unset;
    left: 0;
    width: 100%;
    padding: 0 12%;
    z-index: 6;
    display: flex;
    justify-content: flex-start;
  }
  #questions h1 {
    font-size: 60px;
  }
  #questions .questions-list {
    gap: 80px;
    margin-left: 140px;
    display: flex;
  }
  #questions .questions-list .question {
    position: relative;
  }
  #questions .questions-list .text {
    display: none;
  }
  #questions .questions-list button img {
    width: 105px;
  }
  #bird {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 65%;
    background-image: url(/assets/images/faq/bird.png);
  }
}
@media screen and (min-width: 1600px) {
  #questions h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 2000px) {
  #questions h1 {
    font-size: 80px;
  }
}/*# sourceMappingURL=faq.css.map */