#app-wrapper {
    &::after {
        content: "";
        display: block;
        position: absolute;
        animation-duration: 1s;
        animation-fill-mode: both;
        height: 225px;
        width: 100%;
        z-index: 5;
        left: 0;
        animation-delay: 1s;
        opacity: 0.5 !important;
    }
}

#app-bg {
    padding-top: 75px;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: relative;
    background-size: 100% auto;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: #f0fcff;
    background-image: url(/assets/images/joinhands/light-sm.png);

    .app-bg-left {
        position: absolute;
        height: 80%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .app-bg-right {
        position: absolute;
        right: 0;
        height: 65%;
        bottom: 0;
        z-index: 1;
    }

    .app-bg-bottom {
        position: absolute;
        bottom: -18px;
        width: 80%;
        right: 10%;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app-bg-inner {
        position: relative;
    }

    .scoller {
        padding-top: 16px;
        padding-bottom: 16px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 6;
    }
}

.title-wrapper {
    max-width: 300px;
    margin: auto;
    font-family: "DFVN-DarumadropOne";
    margin-bottom: 20px;

    h1 {
        text-transform: uppercase;
        font-size: 35px;
        color: var(--color-gr);
        margin-bottom: 0;
        line-height: 1;
    }

    h3 {
        color: #000;
        font-size: 24px;
        margin-bottom: 0;
    }
}

.features {
    .feature-box {
        color: #000;

        margin-bottom: 40px;

        .feature-box-inner {
            max-width: 300px;
            margin: auto;
            height: 100%;
            display: flex;
            flex-direction: column;

            .content {
                flex: 1;
            }
        }

        .content {
            .title {
                font-family: "Montserrat";
                font-weight: 800;
                font-size: 16px;
                vertical-align: middle;
                text-transform: uppercase;
                margin-bottom: 12px;
            }

            .img {
                margin-top: 12px;

                img {
                    width: 100%;
                    max-width: 240px;
                }
            }

            .text {
                font-size: 14px;

                p {
                    margin-bottom: 0;
                }
            }
        }

        .actions {
            margin-top: 12px;
            text-align: left;

            .btn {
                width: auto;
                display: inline-block;
                margin: auto;
                text-align: center;
                border-radius: 30px;
                color: inherit;
                background-color: var(--color-org);
                font-weight: 600;
                cursor: pointer;
                font-size: 12px;
            }
        }
    }
}

.feature-box-modal {
    --bs-modal-width: 860px;

    .modal-header {
        border: 0;
        text-align: left;
        flex-direction: column;

        .modal-header-sm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 24px;
            padding: 0;

            .logo {
                img {
                    width: 65px;
                }
            }

            .modal-header-sm-toggler {
                border: 0;
                background-color: transparent;
            }
        }
    }

    .modal-body {
        padding-top: 0;
    }

    .modal-footer {
        border: 0;

        .btn {
            width: auto;
            display: inline-block;
            margin-left: auto;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .modal-title-wrapper {
        color: var(--color-gr);
        text-align: left;

        .sub {
            &.label {
                // font-size: 20px;
                text-transform: uppercase;
                font-family: "DFVN-DarumadropOne";
            }

            &.bank-name {
                margin-top: 12px;
                text-transform: none;
                font-weight: 700;
            }
        }
    }

    .modal-title {
        width: 100%;
        font-size: 20px;
        font-family: "DFVN-DarumadropOne";
        color: var(--color-gr);
        text-transform: uppercase;
        line-height: 1;
    }

    .img-only img {
        max-width: 100%;
        // width: 100%;
    }
}

#feature-box-modal3 {
    --bs-modal-width: 800px;

    .modal-header {
        align-items: flex-start;
    }

    .img-only {
        text-align: center;

        img {
            max-width: 100%;
        }

    }

    .btn {
        margin-top: 20px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: Montserrat;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    #app-bg {
        background-image: url(/assets/images/joinhands/light-md.png);
    }

    .title-wrapper {
        max-width: 80%;
        margin-bottom: 50px;

        h1 {
            font-size: 50px;
        }

        h3 {
            font-size: 32px;
        }
    }

    .features {
        .feature-box {
            margin-bottom: 50px;

            .feature-box-inner {
                max-width: 80%;

                .content {
                    display: flex;
                    gap: 24px;

                    .title {
                        font-size: 20px;
                    }

                    .content-inner {
                        flex: 1;
                    }

                    .img {
                        width: 40%;

                        img {
                            max-width: 100%;
                        }
                    }
                }
            }

            .actions {
                margin-top: 32px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (orientation: portrait) {
    .title-wrapper {
        margin-top: 10%;
        h1 {
            font-size: 70px;
        }

        h3 {
            font-size: 48px;
        }
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    .title-wrapper {
        text-align: center;
        max-width: unset;
        margin-bottom: 50px;
        margin-top: 5%;
        h1 {
            font-size: 60px;
        }

        h3 {
            font-size: 42px;
        }
    }

    #app-bg {
         background-image: url(/assets/images/joinhands/light.png);
        .app-bg-left {
            height: 100%;
        }

        .app-bg-right {
            height: 100%;
        }

        .app-bg-bottom {
            bottom: 0;
        }
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 65px;

        .feature-box {
            text-align: center;

            margin-bottom: 0;

            .content {
                text-align: center;

                .title {
                    font-size: 26px;
                }

                .text {
                    font-size: inherit;
                }

                .img {
                    margin-top: 24px;

                    img {
                        max-width: unset;
                    }
                }
            }

            .actions {
                margin-top: 24px;
                text-align: center;

                .btn {
                    font-size: inherit;
                }
            }
        }
    }

    #feature-box-modal3 {

        .img-only {
            text-align: left;
        }

        .btn {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {

    #feature-box-modal3 {
        --bs-modal-width: 80%;
    }

    .feature-box-modal {
        --bs-modal-width: 80%;

        .modal-header {
            border: 0;
            text-align: center;

            .modal-header-sm {
                display: none;
            }
        }

        .modal-footer {
            .btn {
                font-size: 16px;
            }
        }

        .modal-title-wrapper {
            .sub {
                &.label {
                    font-size: 20px;
                }
            }
        }

        .modal-title {
            font-size: 32px;
        }
    }
}

@media screen and (min-width:992px) {
    #feature-box-modal3 {
        .img-only {
            .img {
                text-align: left;
            }
        }
    }


    .feature-box-modal {
        .modal-title {
            font-size: 36px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .title-wrapper {
        h1 {
            font-size: 70px;
        }

        h3 {
            font-size: 48px;
        }
    }
}

@media screen and (min-width: 2000px) {
    .title-wrapper {
        h1 {
            font-size: 80px;
        }

        h3 {
            font-size: 55px;
        }
    }
}