#app-bg {
  padding-top: 75px;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
  background-size: 100% auto;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: #f0fcff;
  background-image: url(/assets/images/joinhands/light-sm.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app-bg .app-bg-left {
  position: absolute;
  height: 80%;
  left: 0;
  bottom: 0;
  z-index: 1;
}
#app-bg .app-bg-right {
  position: absolute;
  right: 0;
  height: 65%;
  bottom: 0;
  z-index: 1;
}
#app-bg .app-bg-bottom {
  position: absolute;
  bottom: -18px;
  width: 80%;
  right: 10%;
}
#app-bg .app-bg-inner {
  position: relative;
  width: 100%;
}

.partners-list {
  --box-size: 50px;
  --wing-size: 40px;
  padding: 0 8%;
  position: relative;
  z-index: 1;
}
.partners-list .partners-list-inner {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.partners-list .partners-list-inner .partner-box .partner-box-inner {
  animation: fly var(--fly-duration, 3s) ease-in-out infinite;
  animation-delay: var(--fly-delay, 0s);
}
.partners-list .partners-list-inner .partner-box:nth-child(odd) {
  transform: translateY(calc(var(--box-size) / 2));
}
.partners-list .partners-list-inner .partner-box:nth-child(even) {
  transform: translateY(calc(var(--box-size) * -1 / 2));
}
.partners-list .partner-box {
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  cursor: pointer;
}
.partners-list .partner-box:hover .partner-box-inner {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  animation-play-state: paused;
}
.partners-list .partner-box:hover .wing {
  animation-play-state: paused;
}
.partners-list .partner-box .partner-box-inner {
  border-radius: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.partners-list .partner-box .partner-box-inner img {
  width: 65%;
}
.partners-list .partner-box .wing {
  position: absolute;
  z-index: 1;
  top: 15%;
  width: var(--wing-size);
  transform-origin: top center;
  animation: flap var(--flap-duration, 0.8s) ease-in-out infinite;
  animation-delay: var(--flap-delay, 0s);
}
.partners-list .partner-box .wing.left {
  left: calc(var(--wing-size) * 0.8 * -1);
  transform-origin: right center;
  animation-delay: 0s;
}
.partners-list .partner-box .wing.right {
  right: calc(var(--wing-size) * 0.8 * -1);
  transform-origin: left center;
  animation-delay: 0.1s;
}

.partner-popover {
  --bs-popover-bg: #f29328;
  font-weight: 500;
  --bs-border-radius: 30px;
  --bs-border-radius-lg: 30px;
  text-align: center;
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--fly-distance, 15px) * -1));
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flap {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  #app-bg {
    background-image: url(/assets/images/joinhands/light-md.png);
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  #app-bg {
    background-image: url(/assets/images/joinhands/light.png);
    background-position-x: left;
    background-size: 70% auto;
  }
  #app-bg .app-bg-right {
    height: 100%;
  }
  #app-bg .app-bg-bottom {
    bottom: 0;
    width: 50%;
    left: 10%;
  }
}
@media screen and (min-width: 600px) {
  .partners-list {
    padding: 0 7%;
    --box-size: 90px;
    --wing-size: 80px;
  }
  .partners-list .partners-list-inner {
    gap: 100px;
  }
}
@media screen and (min-width: 992px) {
  .partners-list {
    padding: 0 5%;
    --box-size: 90px;
    --wing-size: 80px;
  }
  .partners-list .partners-list-inner {
    gap: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-list {
    --box-size: 100px;
  }
  .partners-list .partners-list-inner {
    gap: calc(var(--box-size) - 40px);
  }
}
@media screen and (min-width: 1400px) {
  .partners-list {
    --box-size: 115px;
  }
}/*# sourceMappingURL=partners.css.map */